/*
Common to all css-----------------------------------------------------------
*/

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  background-color: #ab80e7;
  /* padding: 3px; */
}

a.disabled {
  display: inline-block;
  pointer-events: none;
}

body {
  font-family: 'Merriweather', serif;
}


/*
Navbar related css----------------------------------------------------------
*/

.navbar-custom {
  background-color: #7B2869;
}

.dropdown-menu {
  background-color: #7B2869;
}

.dropdown-item {
  color: white;
}

.nav {
  padding: 0 1.25rem;;
}

.navbar-brand {
  padding: 0.375rem;
}


/*
Technical related css------------------------------------------------------
Image courtsey "https://unsplash.com/" -- "by Kelly Sikkema"
https://images.unsplash.com/photo-1611532736568-a8754398aa30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60
*/

.technical {
  background-image: url('../webdev2023_images/technical2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1.3125rem;
  margin-top: 3.5rem;
  padding: 13rem 0;
}

h2 {
  font-weight: bolder;
  color: #820000;
  margin-top: -8.125rem;
  text-align: center;
}

ul {
  color: #820000;
  font-weight: 550;
  padding: 0 18.75rem;
}

/*
Bottom-container related css------------------------------------------------
*/

.copy-right {
  color: #3d4444;
  font-size: 0.75rem;
  margin-top: 0.625rem;
  padding: 0.625rem 0;
}

.footer {
  background-color: #FFBABA;
  margin: 1.25rem 0 0;
  padding: 2.5rem 0 1.25rem;
  text-align: center;
}

.footer-link {
  margin: 0.3125rem;
}

.footer-link:hover {
  background-color: white;
  color: rgb(7, 240, 162);
  padding: 0.3125rem;
}

